{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
      
          <div class="header">
            Number of packs: {{ pack_number }} - Hand: {{ hand.getScore()[2] }}
          </div>
 
          <div class="handcontainer">
            <div class="hand">
            {% for card in hand.getCardObjects() %}
              <div class="card {{ card.getCssName() }}">
                <p>{{ card.getRankSign() }}</p>
              </div>
            {% endfor %}
            </div>
          
            <div class="shuffle">
              <a class="left" href="{{ path('pokerhand', {'pack': '1'}) }}">Shuffle with one deck</a>
              <a class="right" href="{{ path('pokerhand', {'pack': '2'}) }}">Shuffle with two deck</a>
            </div>
          </div>
        </div>
    </div>
            
            
{% endblock %}