* {margin: 0; padding: 0;}

body {
  background: #00a651;
}

/*HEADER*/
.header {
  height: 30px;
  background: #222;
  padding: 0px 0 0px 10px;
  color: #eee;
  /* text-align: center; */
  font: 12px/30px Helvetica, Verdana, sans-serif;
}

.header a {
  color: #999;
}

.hand {
  width: 430px;
  margin: 50px auto;
}

/* For modern browsers */
.hand:before,
.hand:after {
    content:"";
    display:table;
}
 
.hand:after {
    clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.hand {
    zoom:1;
}

.card {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 75px;
  height: 110px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.card p {
  text-align: center;
  font: 50px/110px Georgia, serif;
}

.suitdiamonds:before, .suitdiamonds:after {
  content: "♦";
  color: #ff0000;
}

.suithearts:before, .suithearts:after {
  content: "♥";
  color: #ff0000;
}

.suitclubs:before, .suitclubs:after {
  content: "♣";
  color: #000;
}

.suitspades:before, .suitspades:after {
  content: "♠";
  color: #000;
}

div[class*='suit']:before {
  position: absolute;
  font-size: 25px;
  left: 5px;
  top: 5px;
}

div[class*='suit']:after {
  position: absolute;
  font-size: 25px;
  right: 5px;
  bottom: 5px;
}

.card:hover {
  cursor: pointer;
}

div.shuffle {
  margin: auto;
  
}

div.shuffle a {
    color: #FFF;
    font: bold 13px Helvetica, Verdana, sans-serif;
    text-decoration: none;
    background-color: #222;
    margin: 4px;
    padding: 10px;
    border-radius: 10px;
}

div.shuffle a:hover {
    background-color: #a46a1f;
}

div.shuffle a.left {
    float: left;
}

div.shuffle a.right {
    float: right;
}

div.handcontainer {
  margin: auto;
  width: 50%;
}